@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

body {
    padding: 0;
    margin: 0;
    background-image: url('source/joanna-kosinska-1_CMoFsPfso-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Newsreader', serif;
    min-height: 100vh;
    padding: 20px;
}

.hide {
    visibility: hidden;
}

.titleBanner {
    width: 100%;
    height: 75px;
    font-size: 2em;
    color: rgb(62, 61, 60);
    padding: 1px;
}

.titleBanner h1 {
    margin: 0;
    padding: 10px 30px;
}

.addItem {
    background: rgb(255 226 0 / 50%);
    border-radius: 10px;
    width: 69%;
    height: 120px;
    margin: 10px 20px 20px 30%;
    display: flex;
    justify-content: space-around;
}

.addItem .addItemInput {
    margin: auto 0;
}

.addItem .addItemInput .enterInput {
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    padding: 0 10px;
}

.addItem .btnEnterContainer {
    margin: auto 0;
}

.addItem .btnEnterContainer .btnEnter {
    width: 150px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
    cursor: pointer;
    transition: .2s;
    background: #fffa07c4;
    text-transform: uppercase;
}

.addItem .btnEnterContainer .btnEnter:hover {
    transform: scale(1.1);
}

.globalItemsContainer {
    width: 69%;
    margin: 10px 20px 20px 30%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.globalItemsContainer .itemsContainer {
    width: 30%;
    border-radius: 10px;
    border-bottom: solid 4px #000000ab;
    border-top: solid 2px #000000ab;
}

.globalItemsContainer .boxContainer {
    display: flex;
    flex-direction: column;
}

.globalItemsContainer .itemsContainer .item {
    padding: 5px 10px;
    text-transform: uppercase;
    cursor: alias;
    transition: .2s;
}

.globalItemsContainer .itemsContainer .item:hover {
    background: rgba(255, 255, 255, 0.468);
}

.globalItemsContainer .itemsContainer .boxTitleContainer {
    height: 50px;
    background-color: #d4ff004d;
    border-radius: 10px;
    border: solid 1px #02020230;
}

.boxTitle {
    text-align: center;
    text-transform: uppercase;
    margin: auto 0;
    padding: 15px 0;
}

#todoItems {
    background-color: rgba(245, 86, 0, 0.297);
}
#progressItems {
    background-color: rgba(249, 138, 3, 0.297);
}
#finishedItems {
    background-color: rgba(3, 249, 11, 0.297);
}

.deletedItemsContainer {
    height: 200px;
    width: 21%;
    background-color:rgb(0 0 0 / 15%);
    margin: 0 15px 10px 54%;
    overflow: hidden;
    border-radius: 10px;
}

.deletedItemsContainer .deletedItems {
    padding: 0 50px;
    animation: generic 15s linear infinite;
    text-transform: uppercase;
    font-size: 12px;
}
@keyframes generic {
    from {
        transform: translateY(100px);
    } to {
        transform: translateY(-300px);
    }
}

.ghost {
    color: #FFFF;
    font-size: 20px;
}

.progress {
    position: relative;
}

.arrowRight {
    margin: auto 0;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.543);
}

.trash {
    z-index: 999;
}

.progress::before {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(19, 247, 141, 0.303);
    display: block;
    animation: loading 5s linear infinite;
}
@keyframes loading {
    from {
        width: 0;
    } to {
        width: 100%;
    }
}